# Angular
/dist/
/tmp/
/out-tsc/
/bazel-out
/.angular/cache

# dependencies
/node_modules

# testing
/coverage

# misc
.DS_Store
*.pem
Thumbs.db

# env files
.env
.env.local

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/

# typescript
*.tsbuildinfo
